<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NSUrlSessionImageView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DAD3335D1D9FD4F6000FD1AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAD333761D9FD4F6000FD1AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAD333811D9FD4F6000FD1AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
